#adminmenu a.toplevel_page_poll-maker-ays div.wp-menu-image img {
    width: 30px;
    padding-top: 5px;
}


/* #adminmenu li.toplevel_page_quiz-maker ul.wp-submenu.wp-submenu-wrap li:last-child a {
    color: #f50057;
} */